<mat-accordion>
    <mat-expansion-panel *ngFor = "let post of posts$">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{post.title}}
        </mat-panel-title>
      </mat-expansion-panel-header> 
     {{post.body}}
     <div *ngFor="let user of users$">
      <div *ngIf = "user.id == post.userId;other">Author: {{user.name}}</div>
    </div>
     
    </mat-expansion-panel>
  </mat-accordion>